{% extends "base.html" %} {% block title %}
<title>User Info</title>
{% endblock %} {% block content %}
<h3>User Information</h3>
<form class="mt-3" id="register-form" method="POST">
    {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
    "hidden" %}
    <p>
        {{ field.label }} {{ field }} {% for error in field.errors %} {{ error
        }} {% endfor %}
    </p>
    {% endfor %}
</form>

<form
    action="{{url_for('delete_user',username=form.username.data)}}"
    method="post"
>
    <button class="btn btn-danger btn-sm" type="submit">Delete User</button>
</form>

<div class="feedback-container">
    <h4 class="mt-4">
        Feedback Posts
        <span
            ><a href="/users/{{form.username.data}}/feedback/add"
                ><button class="btn-sm btn-light">Post Feedback</button></a
            >
        </span>
    </h4>
    <br />
    {%for item in feedback%}
    <div class="feedback-item">
        <p class="font-weight-bold">{{item.title}}</p>
        <form
            class="d-inline"
            action="/feedback/{{item.id}}/update"
            method="GET"
        >
            <input
                class="py-0 px-2 btn btn-info btn.sm"
                type="submit"
                value="Edit"
            />
        </form>
        <form
            class="d-inline"
            action="/feedback/{{item.id}}/delete"
            method="POST"
        >
            <input
                class="p-0 btn btn-warning btn.sm"
                type="submit"
                value="Delete"
            />
        </form>

        <p class="mt-2">{{item.content}}</p>

        <hr />
    </div>
    {% endfor%}
</div>
{% endblock %}
