{% extends "base.html" %} {% block title %}
<title>User Info</title>
{% endblock %} {% block content %}
<h3>User Information</h3>
<form class="mt-3" id="register-form" method="POST">
    {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
    "hidden" %}
    <p>
        {{ field.label }} {{ field }} {% for error in field.errors %} {{ error
        }} {% endfor %}
    </p>
    {% endfor %}
</form>

<form action="/users/{{form.username}}/delete" method="post">
    <button type="submit">Delete User</button>
</form>

<div class="feedback-container">
    <h4 class="mt-4">
        Feedback Posts
        <span
            ><a href=""
                ><button class="btn-sm btn-light">Post Feedback</button></a
            >
        </span>
    </h4>

    {%for item in feedback%}
    <div class="feedback-item">
        <p>{{item.title}}</p>
        <form action="/users/{{form.username}}/delete" method="post">
            <input type="button" value="" />
        </form>
        <p>{{item.content}}</p>

        <hr />
    </div>
    {% endfor%}
</div>
{% endblock %}
